{
  "extends": "eslint-config-airbnb",
  "plugins": [
    "inferno"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  }
}
